--
-- PostgreSQL database dump
--

\restrict ALzE5N22jaM8oVX2dVYMm4LeoykM7GUqnxILAOJctUF74ETYwnHGeQN80zXZivb

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: update_kb_content_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_kb_content_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = NOW();

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_kb_content_updated_at() OWNER TO postgres;

--
-- Name: update_kb_contents_timestamp(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_kb_contents_timestamp() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = NOW();
    NEW.cache_version = OLD.cache_version + 1;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_kb_contents_timestamp() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: kb_contents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kb_contents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    sub_intent character varying(50) NOT NULL,
    language character varying(5) DEFAULT 'es'::character varying NOT NULL,
    category character varying(50),
    content text NOT NULL,
    content_html text,
    title character varying(500),
    meta_description text,
    shopify_page_id bigint NOT NULL,
    shopify_url character varying(500),
    shopify_handle character varying(200),
    last_synced timestamp without time zone DEFAULT now() NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    cache_version integer DEFAULT 1 NOT NULL,
    related_links jsonb,
    metadata jsonb
);


ALTER TABLE public.kb_contents OWNER TO postgres;

--
-- Name: TABLE kb_contents; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.kb_contents IS 'Knowledge Base content buffer synced from Shopify CMS. Acts as performance cache and resilience layer.';


--
-- Name: COLUMN kb_contents.sub_intent; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.kb_contents.sub_intent IS 'Maps to InformationalSubIntent enum (e.g., policy_return, policy_shipping, product_material)';


--
-- Name: COLUMN kb_contents.language; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.kb_contents.language IS 'ISO 639-1 language code (es, en, pt). Primary language from Shopify Markets.';


--
-- Name: COLUMN kb_contents.category; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.kb_contents.category IS 'Optional product category for context-specific content (e.g., ZAPATOS for shoes-specific return policy)';


--
-- Name: COLUMN kb_contents.content; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.kb_contents.content IS 'Primary content in Markdown format from Shopify CMS';


--
-- Name: COLUMN kb_contents.shopify_page_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.kb_contents.shopify_page_id IS 'Shopify Page ID for tracking source and webhook processing';


--
-- Name: COLUMN kb_contents.last_synced; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.kb_contents.last_synced IS 'Timestamp of last successful sync from Shopify. Used to detect stale content (>48h).';


--
-- Name: COLUMN kb_contents.related_links; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.kb_contents.related_links IS 'JSON array of related resources: [{"title": "...", "url": "..."}]';


--
-- Name: COLUMN kb_contents.metadata; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.kb_contents.metadata IS 'Flexible JSON field for additional data: tags, priority, custom fields, etc.';


--
-- Name: kb_contents_backup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kb_contents_backup (
    id uuid,
    sub_intent character varying(50),
    language character varying(5),
    category character varying(50),
    content text,
    content_html text,
    title character varying(500),
    meta_description text,
    shopify_page_id bigint,
    shopify_url character varying(500),
    shopify_handle character varying(200),
    last_synced timestamp without time zone,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    cache_version integer,
    related_links jsonb,
    metadata jsonb
);


ALTER TABLE public.kb_contents_backup OWNER TO postgres;

--
-- Data for Name: kb_contents; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: kb_contents_backup; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: kb_contents kb_contents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kb_contents
    ADD CONSTRAINT kb_contents_pkey PRIMARY KEY (id);


--
-- Name: idx_kb_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_kb_category ON public.kb_contents USING btree (category) WHERE (category IS NOT NULL);


--
-- Name: idx_kb_language; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_kb_language ON public.kb_contents USING btree (language, sub_intent);


--
-- Name: idx_kb_lookup; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_kb_lookup ON public.kb_contents USING btree (sub_intent, language, category) WHERE (category IS NOT NULL);


--
-- Name: idx_kb_shopify_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_kb_shopify_id ON public.kb_contents USING btree (shopify_page_id);


--
-- Name: idx_kb_sync_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_kb_sync_status ON public.kb_contents USING btree (last_synced DESC);


--
-- Name: idx_kb_unique_content; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_kb_unique_content ON public.kb_contents USING btree (sub_intent, language, COALESCE(category, 'general'::character varying));


--
-- Name: kb_contents kb_contents_update_timestamp; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER kb_contents_update_timestamp BEFORE UPDATE ON public.kb_contents FOR EACH ROW EXECUTE FUNCTION public.update_kb_contents_timestamp();


--
-- PostgreSQL database dump complete
--

\unrestrict ALzE5N22jaM8oVX2dVYMm4LeoykM7GUqnxILAOJctUF74ETYwnHGeQN80zXZivb

